*{
    font-family: 'Medium-content-sans-serif'
}
.brand-text {
    color: #2977C9;
    font-family: Helvetica;
    margin-left: 10%;
}

.brand-text:hover {
    color: rgb(4, 44, 133);  
}

.margins {
    margin-left: 73%;
}

.buttons {
    margin-right: 20px;
}

.homepage {
    color: rgb(246, 248, 250);
    font-family: Helvetica;
    font-weight: 300;
    word-spacing: 15px;
}
.font-awesome {
    padding: 10px;
    font-family: FontAwesome, Helvetica;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.home {
    text-align: left;
    word-spacing: normal;
    font-size: 1.5em;
    margin-bottom: 5%;
}

a {
    color: #007bff;
    text-decoration: none !important;
    background-color: transparent;
}

.title-text {
    color: #FFFFFF;
    font-size: 250%;
    margin-top: 10%;
    margin-left: 30%;
}

.mini-text {
    font-size: 150%;
    margin-top: 3%;
    text-align: center;
}

.small-text {
    font-weight: lighter;
    text-align: center;
}

.right-container form {
    margin-left: 15%;
    width: 70%;
    margin-top: 5%;
}

.right-container form label {
    width: 100%;
    font-weight: bold;
    height: 50px;
    margin-bottom: 10%;
}

.right-container input {
    height: 3em;
}

#sign {
    background-color: #2977C9;
    color: #FFFFFF;
    font-weight: bold;
    height: 3em;
}

.form-title {
    font-weight: bold;
    font-size: 200%;
    margin-top: 6%;
    text-align: center;
}

.signup-btn {
    margin-left: 30%;
    width: 40%;
    margin-top: 10%;

}

.option-text {
    text-align: center;
    font-weight: bolder;
    margin-top: 5%;
}

.round-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2em;  
}

.twitter {
    background: #4099FF;
	color: #FFFFFF;
    padding: 0.05em 0.07em; 
    border-radius: 50%;
	margin: 0.2em;
}

.facebook {
    background: #FFFFFF;
	color: #3B5998;
	margin: 0.2em;
}

.google {
    color: rgb(221, 75, 57);
    margin: 0.2em;
}

.top {
    margin-top: 20%;
}

.footmargin {
    margin-left: 4%;
}

.reset {
    margin-top: 10%;
    margin-left: 20%;
}

.reset-buttons {
    margin-right: 30px;
    margin-top: 5px;
    width: 40%;
}

.resetmessage {
    font-family: Helvetica;
    margin-bottom: 5%;
}

.reset-input {
    width: 70%;
}

.form-control {
    width: 70%;
    margin-bottom: 5%;
}

.social {
    background: white;
    margin-right: 10px;
}
.profile {
    font-weight: 300;
    margin-top: 3%;
}

.profile-card {
    padding-bottom: 2%;
    border: none;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: -2%;
}

.profile-form {
    margin-top: 2%;
    margin-bottom: 10%;
    margin-left: auto;
    padding: 2%;
    width: 80%;
    border: 1px solid #B9B9B9;
    border-radius: 5px;
}

.profile-content{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: inherit;
}

.profile-content-articles{
    margin-bottom: 10%;
}

.profile-image{
    padding: 10%;
}

.profile-avatar {
    width: 120px;
    height: 120px;
}

.prof-avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
.edit-profile {
    margin-left: -1%;
}
.profile-bio {
    margin-left: 7%;
    margin-top: 2%;
}

.profile-username {
    color: slategrey;
}
.avatar-btn {
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

label {
    width:100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
    padding-right: 5%;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

#img-upload{
    margin-top: 1%;
    width: 100%;
}

.articles-profile {
    width: 30%;
    height: 10%;
}

.dummy-followers{
    word-spacing: 5px;
}

.background {
    background-image: url(https://images.pexels.com/photos/261949/pexels-photo-261949.jpeg?cs=srgb&dl=administration-articles-bank-261949.jpg&fm=jpg);    
}

.navbackground {
    background-color: rgb(240, 240, 240)
}
.post-feed{
    margin: 25px;
    padding: 25px;
    -webkit-font-smoothing: antialiased;
    font-family: museo-sans,Helventica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.7;
}
.post-feed > div {
    width: 500px;
    margin-bottom: 65px;
    margin-left: auto;
    margin-right: auto;
}
    .quotes {
        flex-wrap: wrap;
        justify-content: space-between;
        z-index: 2;
    }

    .quotes .box {
        position: relative;
        min-height: 320px;
        background: #f2f2f2;
        overflow: hidden;
        transition: all 0.5s ease-in;
        z-index: 2;
        padding: 30px;
        box-sizing: border-box;
        box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    .quotes .box::before {
        position: absolute;
        top: -20px;
        left: 5px;
        width: 100%;
        height: 100%;
        font-size: 120px;
        opacity: 0.2;
        background: transparent;
        pointer-events: none;
    }

    .quotes .box::after {
        position: absolute;
        bottom: -10%;
        right: 5%;
        font-size: 120px;
        opacity: 0.2;
        background: transparent;
        filter: invert(1);
        pointer-events: none;
    }

    .quotes .box p {
        margin: 0;
        padding: 10px;
        font-size: 1.2rem;
    }

    .quotes .box h2 {
        position: absolute;
        margin: 0;
        padding: 0;
        bottom: 10%;
        right: 10%;
        font-size: 1.5rem;
    }

    .quotes .box:hover {
        color: #080808;
        box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
    }

    .quotes .bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        transition: all 0.5s ease-in;
        pointer-events: none;
        width: 100%;
        height: 200%;
        overflow: hidden;
    }

    .quotes .box.box1:hover,
    .quotes .box.box1:hover~.bg {
        opacity: 1;
        background: #e2a9e5;
        background: -moz-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
        background: -webkit-linear-gradient(-45deg, #e2a9e5 15%,#2b94e5 100%);
        background: linear-gradient(135deg, #e2a9e5 15%,#2b94e5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a9e5', endColorstr='#2b94e5',GradientType=1 );
    }

    .quotes .box.box2:hover,
    .quotes .box.box2:hover~.bg {
        opacity: 1;
        background: #632c65;
        background: -moz-linear-gradient(-45deg, #632c65 15%, #56a5e2 100%);
        background: -webkit-linear-gradient(-45deg, #632c65 15%,#56a5e2 100%);
        background: linear-gradient(135deg, #632c65 15%,#56a5e2 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#632c65', endColorstr='#56a5e2',GradientType=1 );
    }

    .quotes .box.box3:hover,
    .quotes .box.box3:hover~.bg {
        opacity: 1;
        background: #4b384c;
        background: -moz-linear-gradient(-45deg, #4b384c 15%, #da5de2 100%);
        background: -webkit-linear-gradient(-45deg, #4b384c 15%,#da5de2 100%);
        background: linear-gradient(135deg, #4b384c 15%,#da5de2 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b384c', endColorstr='#da5de2',GradientType=1 );
    }
    .quotes-prof {
        flex-wrap: wrap;
        justify-content: space-between;
        z-index: 2;
    }

    .quotes-prof .box {
        position: relative;
        min-height: 320px;
        background: #f2f2f2;
        overflow: hidden;
        transition: all 0.5s ease-in;
        z-index: 2;
        padding: 30px;
        box-sizing: border-box;
        box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    .quotes-prof .box::before {
        position: absolute;
        top: -20px;
        left: 5px;
        width: 100%;
        height: 100%;
        font-size: 120px;
        opacity: 0.2;
        background: transparent;
        pointer-events: none;
    }

    .quotes-prof .box::after {
        position: absolute;
        bottom: -10%;
        right: 5%;
        font-size: 120px;
        opacity: 0.2;
        background: transparent;
        filter: invert(1);
        pointer-events: none;
    }

    .quotes-prof .box p {
        margin: 0;
        padding: 10px;
        font-size: 1.2rem;
    }

    .quotes-prof .box h2 {
        position: absolute;
        margin: 0;
        padding: 0;
        bottom: 10%;
        right: 10%;
        font-size: 1.5rem;
    }

    .quotes-prof .box:hover {
        color: #080808;
        box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
    }

    .quotes-prof .bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        transition: all 0.5s ease-in;
        pointer-events: none;
        width: 100%;
        height: 200%;
        overflow: hidden;
    }

    .quotes-prof .box.box1:hover,
    .quotes-prof .box.box1:hover~.bg {
        opacity: 1;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a9e5', endColorstr='#2b94e5',GradientType=1 );
    }

    .quotes-prof .box.box2:hover,
    .quotes-prof .box.box2:hover~.bg {
        opacity: 1;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#632c65', endColorstr='#56a5e2',GradientType=1 );
    }

    .quotes-prof .box.box3:hover,
    .quotes-prof .box.box3:hover~.bg {
        opacity: 1;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b384c', endColorstr='#da5de2',GradientType=1 );
    }

.title-header{
    display: flow-root;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.8rem;
}

.author {
    margin-top: 5px;
    font-family: museo-sans,Helventica Neue,Helvetica,Arial,sans-serif;
    color: #969e9f;
    font-size: .8rem;
    line-height: 1.875;
}

.far {
    font-weight: 400;
    font-size: 25px;
}

.timer{
    text-align: right;
    position: relative;
    margin: 0 auto;
}

.bookmark{
    text-align: left;
    position: absolute;
}

.readingTime{
    font-weight: 400!important;
    font-style: normal!important;
    font-size: .8rem;
    letter-spacing: 0!important;
    line-height: 20px!important;
    -webkit-transform: translateY(1.8px);
    transform: translateY(1.8px);
}

.cardwidth {
    width: 18rem;
}
.cardmargins {
    margin-right: auto;
    margin-left: 5%;
}
.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}
.follow-card {
    margin-bottom: 2px;
}

.confirmStyle {
    border: solid red;
    border-width: thin;
}

.passwordStyle {
    border: solid green;
    border-width: thin;
}
.list-card {
    padding: 1%;
}

.user-data {
    padding-left: 7%;
}

.prof-articles {
    margin-bottom: 2%;
}

.profile-quotes {
    max-width: 23.1rem;
    padding: 1%;
}

.profile-articles-container {
    padding-left: 0;
    padding-right: 0;
}

.share-modal-popup-title{
    -webkit-font-smoothing: antialiased;
}

.share-modal-buttons{
    margin-right: 8px;
}
.main-svg{
    display: flex;
    margin: 0 20%;
}

.svg{
    --iron-icon-height: 60px;
    --iron-icon-width: 60px;
    margin: 1px 0;
    border: none;
    border-radius: 3px;
    padding: 5px 1px 2px;
    outline: none;
    text-align: inherit;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;

}

.icon-svg{
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 8px;
}

.twitter-style {
    margin: 0 0 0 20px
}

.facebook-style {
    margin: 0 0 0 20px
}

.mail-style{
    margin: 0 20px;
    fill:#000000;
}
div.dv-star-rating{
    display: inline-flex !important;
    transform: rotate(180deg)
}
.dv-star-rating-star{
    transform: rotate(180deg);
}
.rate:first-child{
    margin-top: -14px;
    font-size: 130%;

}

.rating{
    display: inline;
}

.rater {
    height: 40px;
    display:inline-block;
}

.ratingstar{
    text-align: right;
    margin-left: 83%;
    margin-top: -10%;
    position: absolute;
    }

.fivestar{
    text-align: right;
    margin-left: 94%;
    margin-top: -4%;
    position: absolute;
    }
.notification{
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
  }
  
  .notification .badge {
    position: absolute;
    top: 8px;
    right: -1px;
    padding: 2px 4px;
    border-radius: 50%;
    background: red;
    color: white;
  }
.text-dark {
    color: #007bff !important;
}
.menu-item {
    color: #2977C9;
    display: block;
    font-size: 90%;
    padding-left: 10px;
    white-space: normal;
}
.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
    max-width: 327px;
    width: 327px;
}

.hidden {
    display: none;
}

.scrollable-menu li {
    border-bottom: 1px solid #2977C9;
}

.notify{
    padding: 0px !important;
}
.clear-note {
    float: right;
    margin-right: 5px;
    background-color: transparent;
    outline: none !important;
    border: none;
    color: #2977C9;
}
.notes {
    padding-left: 8px;
    color: #2977C9;
    font-weight: bold;
}
.button-bell {
    border: none;
    background-color: transparent;
    outline: none !important;
}
.empty-note {
    color: #2977C9;
    display: block;
    font-size: 100%;
    padding-left: 25%;
    white-space: normal;
}

.settings-link {
    text-decoration: none !important;
}

.notif-content{
    margin-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

.push {
    margin-bottom: -10%;
}

.notif-icons {
    width: 5%;
    height: 5%;
}

.notif-title {
    margin-left: 2.5%;
}

.notif-status-app {
    margin-left: 60%;
    margin-right: 2%;
}

.notif-status-email {
    margin-left: 58.5%;
    margin-right: 2%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 15px;
    margin-top: 0.5%;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 50px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
