*{
    font-family: 'Medium-content-sans-serif'
}
.modal-form {
    margin-left: 10%;
    width: 100%;
    padding-top: 1%;
}

.modal-form label {
    font-weight: bold;
    width: 80%;
}

.modal-form input {
    width: 80%;
    margin-bottom: 4%;
}

.modal-form .btn {
    background-color: #2977C9;
    color: #FFFFFF;
    width: 80.5%;
    font-weight: bold;
}

.modal-body {
    padding: 2%;
}

.modal-body p {
    font-weight: 145;
    color: #7A8188;
    margin-left: 43%;
    margin-top: 0%;
}

.form-div {
    width: 80%;
    margin-left: 10%;
    background: #f7f7f7;
}

.form-header p {
    font-weight: bold;
    color: black;
    font-size: 110%;
    margin-left: 35%;
}

h2 {
    width: 79%;
    text-align: center;
    border-bottom: 1px solid #7A8188;
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-size: 90%;
    margin-left: 11%;
}

h2 span {
    padding: 0 10px;
}

h2 span {
    font-weight: lighter;
    color: #7A8188;
}

.close:hover {
    color: red;
}

.reset-div {
    margin-top: 10px;
    margin-right: 70%;
    font-weight: lighter;
    font-size: 10px;
    text-align: left;
}

.modal-open .container-fluid,
.modal-open .container {
    -webkit-filter: blur(5px) grayscale(190%);
}

.form-div p {
    margin-left: 40%;
    font-weight: bold;
    margin-bottom: 2%;
    font-size: 110%;
}

.link-text p {
    margin-left: 30%;
    font-weight: lighter;
}
.link-text a{
    text-decoration: none;
}
.link-text a:hover{
    color:#0047b3;
}
label {
    width: 100%;
    margin-bottom: 4%;
    height: 3em;
    margin-bottom: 10%;
}

.social-icons {
    font-weight: 145;
    color: #7A8188;
    margin-left: 15%;
    margin-top: 0%;
    margin-bottom: 5%;
}

.modal-header {
    border-bottom: 0 none;
}

.modal {
    margin-top: 5%;
}

.form-control::-webkit-input-placeholder {
    color: #b3b3b3;
}

/* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
    color: #b3b3b3;
}

/* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
    color: #b3b3b3;
}

/* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
    color: #b3b3b3;
}

/* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
    color: #b3b3b3;
}

.invalid-feedback{
 margin-top: -1em;
 margin-bottom: 1em;
}

.reset-div {
    margin-top: -2%;
    margin-bottom: 6%;
    font-weight: lighter;
    font-size: 91%;
    width: 100%;
    text-align: left;
}
.red {
    border: 1px solid red !important;
}
.with-errors::after {
    content: attr(name);
    color: red;
    font-size: 5px;
}
.fa-trash {
    color: Tomato;
  }

.errorMessage{
    text-align: center;
    display: block;
    position: relative;
    width:80%;
    margin:1% auto;
}
.four04{
    font-size: 1500%;
    position: relative;
    display: inline-block;
    letter-spacing: 15%;
}
.the-page{
    text-align:center;
    display:block;
    position:relative;
    letter-spacing: 12%;
    font-size: 550%;
    line-height: 90%;
}
.notFound{
    text-align:center;
    display:block;
    position: relative;
    font-size: 200%;
}

.back-btn{
    position: relative;
    display: inline-block;
    width: 358px;
    padding: 5px;
    z-index: 5;
    font-size: 25px;
    font-weight: bolder;
    margin:0 auto;
    color: #f7f7f7;
    text-decoration: none;
    margin-right: 10px
}
.meta-data{
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-width: thin;
    border-color:#e6e6e6;
}
.tag-btn{
    margin-right: 0.5em;
}
